<nav class="navbar navbar-expand-md  fixed-top navbar-light" style="background: #12375c">
  <!-- #edf0f2" -->
  <a class="navbar-brand" href="#">
  <p style="color: #fff">EMPLOYEE LIST MEANCRUD</p>
  </a>
  <div class="nav-right">
    <ul class="nav navbar-nav navbar-right">
      <!-- <li style="display:flex;flex-direction: row; flex-wrap: wrap;"><span style="color: #fff">LOGGA UT</span></li> -->
    </ul>
  </div>
</nav>
<div class="container-fluid" style="margin-top: 75px">
<div class="button-row">
    <a mat-raised-button style="background: #12375c; color: #fff" [routerLink]="['/dashboard']"><mat-icon>list</mat-icon></a>
  </div>
  <div class="row">
    <div class="col-xs-2 col-md-2"></div>
    <div class="col-xs-8 col-md-8">
      <mat-card>
        <mat-card-content>
            <dl>
              <dt>Name:</dt>
              <dd>{{empData.Name}}</dd>
              <dt>DOJ:</dt>
              <dd>{{empData.DOJ | date}}
              <dt>Domain:</dt>
              <dd>{{empData.Domain}}
              </dd>
              <dt>Desigination:</dt>
              <dd>{{empData.Desigination}}</dd>
              <dt>Experience:</dt>
              <dd>{{empData.Experience}}</dd>
              <dt>Update Date:</dt>
              <dd>{{empData.updated_date | date}}</dd>
            </dl>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" style="background: #54b53f; " [routerLink]="['/dashboard-edit', empData._id]"><mat-icon>edit</mat-icon></a>
            <a mat-raised-button color="warn" (click)="deleteEmpList(empData._id)"><mat-icon>delete</mat-icon></a>
          </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-xs-2 col-md-2"></div>
  </div>
</div>
