<nav class="navbar navbar-expand-md  fixed-top navbar-light" style="background: #12375c">
  <!-- #edf0f2" -->
  <a class="navbar-brand" href="#">
  <p style="color: #fff">EMPLOYEE LIST MEANCRUD</p>
  </a>
  <div class="nav-right">
    <ul class="nav navbar-nav navbar-right">
      <!-- <li style="display:flex;flex-direction: row; flex-wrap: wrap;"><span style="color: #fff">LOGGA UT</span></li> -->
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <h3>Employee List</h3>
<div class="button-row">
  <a mat-raised-button class="addbtn" style="background: #12375c; color: #fff" [routerLink]="['/dashboard-create']"><mat-icon>add</mat-icon></a>
</div>
<div class="list-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element" class="isbn-col"> {{element.Name}} </td>
    </ng-container>

    <!-- Desigination Column -->
    <ng-container matColumnDef="Desigination">
      <th mat-header-cell *matHeaderCellDef> Desigination </th>
      <td mat-cell *matCellDef="let element"> {{element.Desigination}} </td>
    </ng-container>

    <!-- DOJ Column -->
    <ng-container matColumnDef="DOJ">
      <th mat-header-cell *matHeaderCellDef> DOJ </th>
      <td mat-cell *matCellDef="let element"> {{element.DOJ | date : 'mediumDate'}} </td>
    </ng-container>

    <!-- Experience Column -->
    <ng-container matColumnDef="Experience">
      <th mat-header-cell *matHeaderCellDef> Experience </th>
      <td mat-cell *matCellDef="let element"> {{element.Experience}} </td>
    </ng-container>

    <!-- Domain Column -->
    <ng-container matColumnDef="Domain">
      <th mat-header-cell *matHeaderCellDef> Domain </th>
      <td mat-cell *matCellDef="let element"> {{element.Domain}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/dashboard-details/', row._id]"></tr>
  </table>
</div>
</div>
