.list-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
    width: 100%;
  }
  h3{
    margin-top: 15px;
    font-weight: 800;
  }
  .addbtn{
    float: right;
    margin: 15px;

  }

  .isbn-col {
    flex: 0 0 100px !important;
    white-space: unset !important;
  }

  .button-row {
    width: 100%;
    margin: 10px 0;
  }
  th.mat-header-cell {
    text-align: left;
    background: #12375c !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 13px;
}
