.EmpList-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.EmpList-full-width {
  width: 100%;
}

.EmpList-full-width:nth-last-child() {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}
