<nav class="navbar navbar-expand-md  fixed-top navbar-light" style="background: #12375c">
  <!-- #edf0f2" -->
  <a class="navbar-brand" href="#">
  <p style="color: #fff">EMPLOYEE LIST MEANCRUD</p>
  </a>
  <div class="nav-right">
    <ul class="nav navbar-nav navbar-right">
      <!-- <li style="display:flex;flex-direction: row; flex-wrap: wrap;"><span style="color: #fff">LOGGA UT</span></li> -->
    </ul>
  </div>
</nav>
<div class="container-fluid" style="margin-top: 75px">
  <div class="button-row" >
    <a mat-raised-button style="background: #12375c; color: #fff" (click)="EmpListDetails()"><mat-icon style="color: #fff">list</mat-icon></a>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

<form [formGroup]="EmpForm" (ngSubmit)="onFormSubmit(EmpForm.value)">
  <mat-form-field class="EmpList-full-width">
    <input matInput placeholder="Name" formControlName="Name"
           [errorStateMatcher]='matcher'>
    <mat-error>
      <span *ngIf="!EmpForm.get('Name').valid && EmpForm.get('Name').touched">Please enter Name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="EmpList-full-width">
    <input matInput placeholder="Desigination" formControlName="Desigination"
           [errorStateMatcher]='matcher'>
    <mat-error>
      <span *ngIf="!EmpForm.get('Desigination').valid && EmpForm.get('Desigination').touched">Please enter Book Desigination</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="EmpList-full-width">
    <input matInput placeholder="Experience" formControlName="Experience"
           [errorStateMatcher]='matcher'>
    <mat-error>
      <span *ngIf="!EmpForm.get('Experience').valid && EmpForm.get('Experience').touched">Please enter Book Experience</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="EmpList-full-width">
    <textarea matInput placeholder="Domain" formControlName="Domain"
           [errorStateMatcher]='matcher'></textarea>
    <mat-error>
      <span *ngIf="!EmpForm.get('Domain').valid && EmpForm.get('Domain').touched">Please enter Domain</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="EmpList-full-width">
    <input matInput placeholder="DOJ" formControlName="DOJ"
           [errorStateMatcher]='matcher'>
    <mat-error>
      <span *ngIf="!EmpForm.get('DOJ').valid && EmpForm.get('DOJ').touched">Please enter Date Of Joining</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!EmpForm.valid" mat-raised-button style="background: #12375c; color: #fff" ><mat-icon>save</mat-icon></button>
  </div>
</form>
</div>
<div class="col-md-2"></div>
</div>
</div>
